body {
    overflow: hidden;
    margin: 0px;
}

#canvas {
    position: absolute;
    border-color: #666666;
    border-style: solid;
    border-width: 1px;
}

#palette {
    position: absolute;
}

#speechinputresults {
    position: fixed;
    bottom: 15px;
    left: 15px;
    font-size: 24pt;
}

.swatch {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
}

.swatch.selected {
    border-style: solid;
    border-width: 5px;
    border-color: #6a6a6a;
}

#color-red {
    background-color: red;
}

#color-green {
    background-color: green;
}

#color-blue {
    background-color: blue;
}

#color-yellow {
    background-color: yellow;
}

#color-purple {
    background-color: purple;
}

#color-orange {
    background-color: orange;
}

#color-black {
    background-color: black;
}

#drawcursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #666666;
}

#erasercursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #660000;
}

#drawcursor.down {
    opacity: 1;
}

#drawcursor.up {
    opacity: .25;
}