#bird {
    position: fixed;
    bottom: 30px;
    left: 250px;
}

.bird.body {
    background-image: url('../images/bird.png');
    background-size: 100% auto;
    width: 110px;
    height: 110px;
    position: relative;
}

.bird.wing {
    width: 10px;
    height: 80px;
    top: -40px;
    background-color: #660000;
    position: absolute;

    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%; /* IE 9 */
    -webkit-transform-origin: 50% 100%; /* Safari and Chrome */
    -moz-transform-origin: 50% 100%; /* Firefox */
    -o-transform-origin: 50% 100% /* Opera */
}

.bird.wing.left {
    left: 0px;
}

.bird.wing.right {
    right: 0px;
}